<!doctype html>
<html lang="en">

	<head>
		<meta charset="utf-8">

		<title>MEAN Stack Tutorial</title>

		<meta name="description" content="A tutorial on using the MEAN framework for developing web applications">
		<meta name="author" content="Mohammed Hussain, Jeff Sallans, Dave Farinelli">

		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />

		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui">

		<link rel="stylesheet" href="css/reveal.css">
		<link rel="stylesheet" href="css/theme/white.css" id="theme">

		<!-- Code syntax highlighting -->
		<link rel="stylesheet" href="lib/css/zenburn.css">

		<!-- Custom CSS -->
		<link rel="stylesheet" href="css/index.css">

		<!-- Printing and PDF exports -->
		<script>
			var link = document.createElement( 'link' );
			link.rel = 'stylesheet';
			link.type = 'text/css';
			link.href = window.location.search.match( /print-pdf/gi ) ? 'css/print/pdf.css' : 'css/print/paper.css';
			document.getElementsByTagName( 'head' )[0].appendChild( link );
		</script>

		<!--[if lt IE 9]>
		<script src="lib/js/html5shiv.js"></script>
		<![endif]-->
	</head>

	<body>

		<div class="reveal">

			<!-- Any section element inside of this container is displayed as a slide -->
			<div class="slides">
				<section>
					<h1>Mean Stack Tutorial</h1>
					<h3>A tutorial on using the MEAN framework for developing web applications</h3>
					<p>
						<small>Created by Mohammed Hussain, Jeff Sallans, Dave Farinelli</small>
					</p>
					<aside class="notes">
						Get a sense of the crowd:<br/>
							How many heard of Node.js?<br/>
							MongoDB?<br/>
					</aside>
				</section>

				<section>
					<h2>What is the MEAN Stack?</h2>
					<p>
						JavaScript frontend and backend web application setup.  It uses:
					</p>
					<ul class="label-instead-of-bullets">
						<li><label>MongoDB</label>NoSql database</li>
						<li><label>Express</label>Web application framework</li>
						<li><label>Angular</label>Frontend databinding framework</li>
						<li><label>Node</label>Server-side JavaScript environment</li>
					</ul>
				</section>
				<section>
					<h2>Why MEAN Stack?</h2>
					<ul class="label-instead-of-bullets">
						<li><label>Match the language on the frontend</label></li>
						<li><label>Bundled setup</label></li>
					</ul>
					<aside class="notes">
						Share code<br/>
						Bundled together<br/>
						- easier<br/>
						- Development setup and deployment is the same<br/>
						- Support integrating components<br/>
					</aside>
				</section>
				<section>
					<h2>How it fits together</h2>
					<img id="meanArch" class="full-screen blank-background" src="img/meanArchitecture2.png">
					<aside class="notes">
					</aside>
				</section>

				<section>

					<section>
						<h2>Writing an app</h2>
					</section>
					<section>
						Navigate to site directory
					</section>
					<section>
						Run command:
						<pre>
							<code class="hljs Bash hljs">npm install -g express-generator</code>
						</pre>
					</section>
					<section>
						Run command:
						<pre>
							<code class="hljs Bash hljs">express --ejs site-name</code>
						</pre>
					</section>
					<section>
						Navigate into new directory
					</section>
					<section>
						Run command:
						<pre>
							<code class="hljs Bash hljs">npm install</code>
						</pre>
					</section>
					<section>
						Run command:
						<pre>
							<code class="hljs Bash hljs">npm install --save mongoose</code>
						</pre>
					</section>
					<section>
						Make a new directory for your models
					</section>
					<section>
						Open up file ./app.js, and add this line to the top:
						<pre>
							<code class="hljs Javascript hljs">var mongoose = require("mongoose");</code>
						</pre>
					</section>
					<section>
						Connect to your local mongoose server
						<pre>
							<code class="hljs Javascript hljs">
require("./models/Posts");
mongoose.connect('mongodb://localhost/peanutgallery');</code>
						</pre>
					</section>
					<section>
						Create a new file ./models/Posts.js
					</section>
					<section>
						Add code to create mongodb schema
						<pre>
							<code class="hljs Javascript hljs">var mongoose = require("mongoose");
var PostSchema = new mongoose.Schema({
  title: String,
  body: String,
  timestamp: Date
});
mongoose.model("Post", PostSchema);</code>
						</pre>
					</section>
					<section>
						Open up the ./routes/index.js
					</section>
					<section>
						Add mongoose and post to the route file
						<pre>
							<code class="hljs Javascript hljs">var mongoose = require("mongoose");
var Post = mongoose.model("Post");</code>
						</pre>
					</section>
					<section>
						Create GET route for retrieving models:
						<pre>
							<code class="hljs Javascript hljs">router.get("/posts", function(req, res, next) {
  Post.find(function(err, posts) {
    if (err) {
      return next(err);
    }

    res.json(posts);
  });
});</code>
						</pre>
					</section>
					<section>
						Create POST route for posting models:
						<pre>
							<code class="hljs Javascript hljs">router.post("/posts", function(req, res, next) {
  var post = new Post(req.body);

  post.save(function(err, post) {
    if (err) {
      return next(err);
    }

    res.json(post);
  });
});</code>
						</pre>
					</section>
					<section>
						Start site:
						<pre>
							<code class="hljs Bash hljs">npm start</code>
						</pre>
					</section>
					<section>
						Navigate to http://localhost:3000/posts
					</section>

				</section>

				<section>

					<section>
						<h2>Angular</h2>
					</section>					
					<section>
						Add <a href="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js">angular</a> code to ./public/scripts/angular.min.js
					</section>
					<section>
						<div>Create new files:</div>
						<div>./public/javascripts/pgapp.js</div>
					</section>
					<section>
						Add head and body to index.ejs
						<pre>
							<code class="hljs Html hljs">
&lt;html&gt;
  &lt;head&gt;
    &lt;title&gt;say something&lt;/title&gt;
    &lt;script src=&quot;/javascripts/angular.min.js&quot;&gt;&lt;/script&gt;
    &lt;script src=&quot;/javascripts/pgapp.js&quot;&gt;&lt;/script&gt;
  &lt;/head&gt;
  &lt;body&gt;
  &lt;/body&gt;
&lt;/html&gt;
							</code>
						</pre>
					</section>
					<section>
						Create a new angular app in pgapp.js
						<pre>
							<code class="hljs Javascript hljs">
(function() {
  "use strict";

  var app = angular.module("peanutGallery", []);
})();
							</code>
						</pre>
					</section>
					<section>
						Add ng-app and a quick demo to index.ejs
						<pre>
							<code class="hljs Html hljs">
&lt;body ng-app=&quot;peanutGallery&quot;&gt;
  {{ 1 / (1 / (1 - (3/4))) }}
&lt;/body&gt;
							</code>
						</pre>
					</section>
					<section>
						Add a new controller to pgapp.js
						<pre>
							<code class="hljs Javascript hljs">"use strict";

var app = angular.module("peanutGallery", []);

app.controller("mainController", [
  "$scope",
  "$http",
  function($scope, $http) {
    $scope.test = 1 / (1 / (1 - (3/4)));
  }
]);
</code>
						</pre>
					</section>
					<section>
						Add controller to the body
						<pre>
							<code class="hljs Html hljs">
&lt;body ng-app=&quot;peanutGallery&quot; ng-controller=&quot;mainController&quot;&gt;
  {{ test }}
&lt;/body&gt;
							</code>
						</pre>
					</section>
					<section>
						Add ability to retrieve posts
						<pre>
							<code class="hljs Javascript hljs">$scope.posts = [];
$scope.newPost = "";

$scope.init = function() {
  $scope.getAllPosts();
}

$scope.getAllPosts = function() {
  return $http.get("/posts").success(function(data) {
    angular.copy(data, $scope.posts);
  });
};</code>
						</pre>
					</section>
					<section>
						Add ability to create posts
						<pre>
							<code class="hljs Javascript hljs">$scope.createNewPost = function() {
  var tempPost = {
    title: $scope.posts.length + 1 + "",
    body: $scope.newPost,
    timestamp: new Date()
  };

  $http.post("/posts", tempPost).success(function(data) {
    $scope.posts.push(data);
  });

  $scope.newPost = "";
};

$scope.init();</code>
						</pre>
					</section>
					<section>
						Display and create posts on index.ejs
						<pre>
							<code class="hljs Javascript hljs">&lt;div class=&quot;title&quot;&gt;
  &lt;h1&gt;The Peanut Gallery&lt;/h1&gt;
&lt;/div&gt;
&lt;div&gt;
  &lt;input placeholder=&quot;say something&quot; ng-model=&quot;newPost&quot; /&gt;
  &lt;button ng-click=&quot;createNewPost()&quot;&gt;Submit&lt;/button&gt;
&lt;/div&gt;
&lt;div ng-repeat=&quot;post in posts&quot;&gt;
  &lt;div&gt;
    &lt;h3&gt;{{ post.title }}&lt;/h3&gt;
    &lt;p&gt;{{ post.body }}&lt;/p&gt;
    &lt;i&gt;{{ post.timestamp }}&lt;/i&gt;
  &lt;/div&gt;
&lt;/div&gt;</code>
						</pre>
					</section>
					<section>
						Anndddd we're done.
					</section>

				</section>

				<section>
					<section>
						<h1>ADK</h1>
						<p>Additional domain knowledge</p>
					</section>

					<section>
						<h3>Gulp vs Grunt</h3>
						<p>Code vs config files</p>
						<p>Go with Gulp</p>
						<p class="reference">
							<a href="https://medium.com/@preslavrachev/gulp-vs-grunt-why-one-why-the-other-f5d3b398edc4">
								https://medium.com/@preslavrachev/gulp-vs-grunt-why-one-why-the-other-f5d3b398edc4
							</a>
						</p>
					</section>
					<section>
						<h3>NPM vs Bower</h3>
						<p><b>NPM</b> - Resolves dependencies in a <b>nested</b> structure (used on the backend for easier setup/deploy)</p>
						<p><b>Bower</b> - Resolves dependencies in a <b>flat</b> structure (used on the frontend to keep client code light)</p>
						<p class="reference">
							<a href="http://stackoverflow.com/questions/18641899/what-is-the-difference-between-bower-and-npm">
								http://stackoverflow.com/questions/18641899/what-is-the-difference-between-bower-and-npm
							</a>
						</p>
					</section>
				</section>


				<section>
					<h2>Further Research</h2>
					<ul>
						<li><a href="https://app.pluralsight.com/library/courses/building-angularjs-nodejs-apps-mean/table-of-contents" target="_blank">Pluralsight - Building MEAN Stack Applications</a></li>
						<li><a href="https://app.pluralsight.com/library/courses/mongodb-introduction/table-of-contents" target="_blank">Pluralsight - Introduction to MongoDB</a></li>
					</ul>
				</section>
			</div>

		</div>

		<script src="lib/js/head.min.js"></script>
		<script src="js/reveal.js"></script>

		<script>

			// Full list of configuration options available at:
			// https://github.com/hakimel/reveal.js#configuration
			Reveal.initialize({
				controls: true,
				progress: true,
				history: true,
				center: true,

				transition: 'convex', // none/fade/slide/convex/concave/zoom

				// Optional reveal.js plugins
				dependencies: [
					{ src: 'lib/js/classList.js', condition: function() { return !document.body.classList; } },
					{ src: 'plugin/markdown/marked.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
					{ src: 'plugin/markdown/markdown.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
					{ src: 'plugin/highlight/highlight.js', async: true, condition: function() { return !!document.querySelector( 'pre code' ); }, callback: function() { hljs.initHighlightingOnLoad(); } },
					{ src: 'plugin/zoom-js/zoom.js', async: true },
					{ src: 'plugin/notes/notes.js', async: true }
				]
			});

		</script>

	</body>
</html>
