<html>
	<head>
		<title>say something</title>
		<script src="/scripts/angular.min.js"></script>
		<script src="/scripts/pgapp.js"></script>
	</head>
	<body ng-app="peanutGallery" ng-controller="mainController">
		<div class="title">
			<h1>The Peanut Gallery</h1>
		</div>
		<div>
			<input placeholder="say something" ng-model="newPost" />
			<button ng-click="createNewPost()">Submit</button>
		</div>
		<div ng-repeat="post in posts">
			<div>
				<h3>{{ post.title }}</h3>
				<p>{{ post.body }}</p>
				<i>{{ post.timestamp }}</i>
			</div>
		</div>
	</body>
</html>